<script type='text/javascript'>
    $(function() {
        Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":1,"row":3,"size_x":2,"size_y":1},{"col":3,"row":3,"size_x":2,"size_y":1}]')
    });
</script>
<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>


    <li  data-row="1" data-col="1" data-sizex="1" data-sizey="1">

      <div data-id="synergy" data-view="Meter" data-title="This month sale" data-min="0" data-max="1000"></div>
    </li>

    <li   data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div style="overflow-x: auto;">
        <canvas id="sales"  style="width: 600px; height: 350px;"></canvas>
      </div>
    </li>



    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div style="overflow-x: auto;">
        <canvas id="customer"  style="width: 600px; height: 350px;"></canvas>
      </div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter"  data-title="This week sale" data-min="0" data-max="700"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div style="overflow-x: auto;">
        <canvas id="collection"  style="width: 600px; height: 350px;"></canvas>
      </div> </li>


    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
        <div style="overflow-x: auto;">
        <canvas id="pie" style="width: 600px; height: 500px;"></canvas>
      </div>

    </li>

    <li  style = "width : 590px; height: 420px;" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Areas in which you are AWESOME!" data-text="Paid up no. & Sales Value"></div>
    </li>


  </ul>
  </div>
<script type="text/javascript" charset="utf-8">
  function pie_chart() {
      var ctx = $("#pie");
      var data = {
          datasets: [{
              data: [random_number(), 10],
              backgroundColor: [
                  "#FF6384",
                  "#36A2EB",
                  "#FFCE56"
              ],
              hoverBackgroundColor: [
                  "#FF6384",
                  "#36A2EB",
                  "#FFCE56"
              ]
          }],

          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: [
              'Your contribution in SALES VALUE',
              'team contribution in SALES VALUE'

          ]
      };
      var myPieChart = new Chart(ctx,{
          type: 'pie',
          data: data
      });

      function random_number() {
          return Math.random();
      }

  }
  pie_chart()
  setInterval(pie_chart, 5000)


</script>
<script type="text/javascript" charset="utf-8">
  function sales_bar()
  {
      var ctx = $("#sales");
      var data = {
          labels: ["May", "june", "July"],
          datasets: [
              {
                  label: "Sales",
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "#FF6384",
                  borderColor: "rgba(75,192,192,1)",
                  borderCapStyle: 'butt',
                  borderDash: [],
                  borderDashOffset: 0.0,
                  borderJoinStyle: 'miter',
                  pointBorderColor: "rgba(75,192,192,1)",
                  pointBackgroundColor: "#fff",
                  pointBorderWidth: 1,
                  pointHoverRadius: 5,
                  pointHoverBackgroundColor: "rgba(75,192,192,1)",
                  pointHoverBorderColor: "rgba(220,220,220,1)",
                  pointHoverBorderWidth: 2,
                  pointRadius: 1,
                  pointHitRadius: 10,
                  data: [
                      39, 51, 28
                  ],
                  spanGaps: false
              }
          ]
      };
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          stepSize: 10,
                          beginAtZero: false
                      },
                      scaleLabel: {
                          display: true,
                          labelString: 'Sales'
                      }
                  }],
                  xAxes: [{
                      ticks: {
                          stepSize: 1,
                          beginAtZero: false
                      },
                      scaleLabel: {
                          display: true,
                          labelString: '3 months data'
                      }
                  }]
              }
          }
      });

  }

    function random_number() {
        return Math.random() * 70 + 20;
    }

    sales_bar();
    setInterval(sales_bar, 10000);
</script>



<script type="text/javascript" charset="utf-8">
    function customer_bar()
    {
        var ctx = $("#customer");
        var data = {
            labels: ["May", "june", "July"],
            datasets: [
                {
                    label: "Customer",
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "#36A2EB",
                    borderColor: "rgba(179,181,198,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [
                       100, 89, 65
    ],
        spanGaps: false
    }
            ]
        };
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 10,
                            beginAtZero: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Sales'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            stepSize: 1,
                            beginAtZero: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '3 months data'
                        }
                    }]
                }
            }
        });

    }

    function random_number() {
        return Math.random() * 70 + 20;
    }

    customer_bar();
    setInterval(customer_bar, 10000);
</script>

<script type="text/javascript" charset="utf-8">
    function collection_bar()
    {
        var ctx = $("#collection");
        var data = {
            labels: ["May", "june", "July"],
            datasets: [
                {
                    label: "Collection",
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "#36A2EB",
                    borderColor: "rgba(179,181,198,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [
                        100, 89, 65
                    ],
                    spanGaps: false
                }
            ]
        };
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 10,
                            beginAtZero: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Sales'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            stepSize: 1,
                            beginAtZero: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '3 months data'
                        }
                    }]
                }
            }
        });

    }

    function random_number() {
        return Math.random() * 70 + 20;
    }

    collection_bar();
    setInterval(collection_bar, 10000);
</script>
